.container {
    font-family: 'Century Gothic', sans-serif;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    align-items: flex-start;
}

.message {
    flex: 60%;
}

.container h1{
    padding: 5px 0px;
    font-size: 50px;
}

.container h1:hover{
    color: burlywood;
}

img {
    width: 100%;
}

.polaroid {
    flex: 30%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: rotate(5deg);
    margin-left: 80px;
}

.polaroid h2{
    text-align: center;
    font-family: 'Goodest', sans-serif;
    padding: 10px 20px;
    font-size: 2rem;
}

@media screen and (max-width: 700px) {
    .container, .polaroid {   
    flex: 100%;
    }
}